@{
    ViewData["Title"] = "Home Page";
}

@{
    if (User.Identity.IsAuthenticated)  
    { 
        <div class="text-center"> 
            <h1 class="display-4">Welcome</h1>
            <p class="text-lg-center">Поздравляем <span class="fw-bold fst-italic">@User.Identity.Name</span>, вы стали пользователем системы! <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">Авторизация</a>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    }
}

